<?xml version="1.0"?>
<launch>

    <arg name="rviz" default="false" />

    <node pkg="gkv_ros_driver" type="gkv_controller" name="gkv_controller" output="screen">
    </node>
    <node pkg="gkv_ros_driver" type="gkv_custom_data_parser.py" name="gkv_custom_data_parser" output="screen">
    </node>

    <!-- rviz -->
    <group if="$(arg rviz)">

        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find maddrive_hardware_tools)/rviz/gkv.rviz" />

        <!-- tf_static map_2_odom -->
        <node pkg="tf2_ros" type="static_transform_publisher"
            name="map_2_odom"
            args="
                0.0 0.0 0.0
                0.0 0.0 0.0
                /map /odom" />
        <!-- odom_2_base_footprint -->
        <node name="odometry_republisher" pkg="odometry_republisher" type="node" output="screen">
            <remap from="odom" to="/gkv/odom"/>
            <param name="base_frame" value="base_footprint" />
        </node>
        <!-- tf_static base_footprint_2_base_link -->
        <node pkg="tf2_ros" type="static_transform_publisher"
            name="base_footprint_2_base_link"
            args="
                0.0 0.0 0.33
                0.0 0.0 0.0
                /base_footprint /base_link" />

        <!-- tf_static base_link_2_gkv_imu_link -->
        <node pkg="tf2_ros" type="static_transform_publisher"
            name="base_link_2_gkv_imu_link"
            args="
                3.55 -0.43 0.93
                0.0 0.0 0.0
                /base_link /gkv_imu_link" />
        <!-- tf_static base_link_2_gkv_gnss_master_link -->
        <node pkg="tf2_ros" type="static_transform_publisher"
            name="base_link_2_gkv_gnss_master_link"
            args="
                0.0 0.0 0.0
                0.0 0.0 0.0
                /base_link /gkv_gnss_master_link" />

    </group>

</launch>
