<!-- open imu and rviz -->
<launch>

    <arg name="port" default="/dev/tty_Yahboom0" />
    <arg name="baud" default="115200" />
    <arg name="frameId" default="yahboom_imu_link" />
    <!-- output -->
    <arg name="imu_output_topic" default="yahboom_imu/imu" />
    <arg name="mag_output_topic" default="yahboom_imu/mag" />
    <!-- rviz for testing -->
    <arg name="rviz" default="false" />

    <!-- imu python -->
    <node pkg="maddrive_hardware_tools" type="wit_normal_ros.py" name="yahboom_imu" output="screen">
        <param name="port" type="str" value="$(arg port)"/>
        <param name="baud" type="int" value="$(arg baud)"/>
        <param name="frameId" type="str" value="$(arg frameId)"/>
        <remap from="wit/imu" to="$(arg imu_output_topic)"/>
        <remap from="wit/mag" to="$(arg mag_output_topic)"/>
    </node>

    <!-- load rviz -->
    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find maddrive_hardware_tools)/rviz/wit_ros_imu.rviz" />

</launch>