<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <xacro:include filename="$(find maddrive_urdf_tools)/urdf/macros/inertia.urdf.xacro" />

    <xacro:property name="gps_sensor_length" value="0.05" />
    <xacro:property name="gps_sensor_width" value="0.05" />
    <xacro:property name="gps_sensor_height" value="0.05" />
    <xacro:property name="gps_sensor_mass" value="0.1" />

    <xacro:macro name="gps_sensor" params="prefix parent origin_xyz origin_rpy">

        <joint name="${prefix}_gps_sensor_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${prefix}_gps_sensor_link" />
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
        </joint>

        <link name="${prefix}_gps_sensor_link">
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="${gps_sensor_length} ${gps_sensor_width} ${gps_sensor_height}" />
                </geometry>
            </collision>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="${gps_sensor_length} ${gps_sensor_width} ${gps_sensor_height}" />
                </geometry>
            </visual>
            <xacro:box_inertia
                length="${gps_sensor_length}"
                width="${gps_sensor_width}"
                height="${gps_sensor_height}"
                mass="${gps_sensor_mass}">
                <origin xyz="0 0 0" rpy="0 0 0" />
            </xacro:box_inertia>
        </link>

        <!-- http://wiki.ros.org/hector_gazebo_plugins -->
        <gazebo>
            <plugin name="gazebo_ros_gps_sensor" filename="libhector_gazebo_ros_gps.so">
                <updateRate>1.0</updateRate>
                <robotNamespace>/</robotNamespace>
                <bodyName>${prefix}_gps_sensor_link</bodyName>
                <frameId>${prefix}_gps_sensor</frameId>
                <topicName>${prefix}_gps_sensor/fix</topicName>
                <velocityTopicName>${prefix}_gps_sensor/vel</velocityTopicName>
                <referenceLatitude>59.971956</referenceLatitude> <!-- широта -->
                <referenceLongitude>30.320306</referenceLongitude> <!-- долгота -->
                <referenceAltitude>0.0</referenceAltitude> <!-- высота -->
                <referenceHeading>90.0</referenceHeading> <!-- угол 0 (ТЕТА) (в градусах) --> <!-- http://docs.ros.org/en/noetic/api/robot_localization/html/_images/figure2.png -->
                <!-- <status>10</status> -->
                <!-- <service>10</service> -->
                <offset>0.0 0.0 0.0</offset>
                <drift>0.001 0.001 0.0</drift>
                <driftFrequency>0.001 0.001 0.0</driftFrequency>
                <gaussianNoise>0.05 0.05 0.0</gaussianNoise>
                <velocityOffset>0.001 0.001 0.0</velocityOffset>
                <velocityDrift>0.001 0.001 0.0</velocityDrift>
                <velocityDriftFrequency>0.001 0.001 0.0</velocityDriftFrequency>
                <velocityGaussianNoise>0.5 0.5 0.0</velocityGaussianNoise>
            </plugin>
        </gazebo>

    </xacro:macro>

</robot>