<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="lidar_mass" value="0.1" />
    <xacro:property name="lidar_height" value="0.016" />
    <xacro:property name="lidar_radius" value="0.03" />
    <xacro:property name="lidar_base_2_scan_offset_z" value="0.043" />

    <xacro:macro name="lidar" params="prefix parent origin_xyz origin_rpy">

        <joint name="${prefix}_lidar_base_joint" type="fixed">
            <parent link="${parent}" />
            <child link="${prefix}_lidar_base_link" />
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
        </joint>

        <link name="${prefix}_lidar_base_link">
            <xacro:null_visual/>
            <xacro:null_collision/>
            <xacro:null_inertia/>
        </link>

        <joint name="${prefix}_lidar_scan_joint" type="fixed">
            <parent link="${prefix}_lidar_base_link" />
            <child link="${prefix}_lidar_scan_link" />
            <origin xyz="0 0 ${lidar_base_2_scan_offset_z}" rpy="0 0 0" />
        </joint>

        <link name="${prefix}_lidar_scan_link">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder length="${lidar_height}" radius="${lidar_radius}" />
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <cylinder length="${lidar_height}" radius="${lidar_radius}" />
                </geometry>
            </collision>
            <xacro:cylinder_inertia
                radius="${lidar_radius}"
                length="${lidar_height}"
                mass="${lidar_mass}">
                <origin xyz="0 0 0" rpy="0 0 0" />
            </xacro:cylinder_inertia>
        </link>

        <gazebo reference="${prefix}_lidar_scan_link">
            <selfCollide>false</selfCollide>
            <material>Gazebo/Red</material>
            <sensor name="${prefix}_lidar_scan_sensor" type="ray">
                <pose>0 0 0 0 0 0</pose>
                <visualize>true</visualize>
                <update_rate>10</update_rate>
                <ray>
                    <scan>
                        <horizontal>
                            <samples>360</samples>
                            <resolution>1</resolution>
                            <min_angle>${-pi}</min_angle>
                            <max_angle>${pi}</max_angle>
                        </horizontal>
                    </scan>
                    <range>
                        <min>0.10</min>
                        <max>30.0</max>
                        <resolution>0.01</resolution>
                    </range>
                    <noise>
                        <type>gaussian</type>
                        <mean>0.0</mean>
                        <stddev>0.03</stddev>
                    </noise>
                </ray>
                <plugin name="gazebo_ros_lidar_controller" filename="libgazebo_ros_laser.so">
                    <topicName>${prefix}_lidar_scan/raw</topicName>
                    <frameName>${prefix}_lidar_scan_link</frameName>
                </plugin>
            </sensor>
        </gazebo>

    </xacro:macro>
</robot>
